node_modules
.env
*.json
attached_assets/
firebaseServiceAccount.json
google-service-account.json
server/google-service-account.json
functions/src/google-service-account.json
firebaseConfig.ts
functions/src/sheetsConfig.ts
*.key
*.pem
*.env
node_modules
attached_assets/alyusrinstitute-net-1213a9acae47.json
attached_assets/alyusrinstitute-net-ce8eab0e76ef.json
attached_assets/alyusrinstitute-net-default-rtdb-export.json
attached_assets/service-account-file.json
